---
import TagChips from "../components/TagChips.astro";
import type { Frontmatter } from "../content/config";
import "../styles/global.css";
import BaseLayout from "./BaseLayout.astro";
interface Props {
  frontmatter: Frontmatter;
}
const { frontmatter } = Astro.props;
console.log(frontmatter);
const published = new Date(frontmatter.pubDate).toISOString().slice(0, 10);
const lastModified = new Date(frontmatter.lastModified)
  .toISOString()
  .slice(0, 10);
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>
    Published {published} by <a
      href="https://github.com/FrancisUsher"
      target="_blank"
      rel="noreferrer noopener">Francis Usher</a
    >{lastModified !== published ? ` (last updated ${lastModified})` : ""}
  </p>
  <p><em>{frontmatter.description}</em></p>
  <p><TagChips tags={frontmatter.tags} /></p>
  <slot />
</BaseLayout>
